html, body {
    height: 100%;
    
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #19b1e7;
    margin: 0;
    padding: 0;
}

h1 {
    bottom: 20px;
    text-align: center;
    width: 100%;
    line-height: 120%;
    font-family: Arial, sans-serif;
    color: rgb(66,66,66);
    letter-spacing: -0.05em;
}

#generic_error,
#security_error{
    padding-top:200px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}